position.group {
    gzip
    log /var/log/caddy/position.group.log
    header /api {
         Access-Control-Allow-Origin  *
         Access-Control-Allow-Methods "GET, POST, OPTIONS"
         -Server
    }
    proxy /api 127.0.0.1:8002/ {
        transparent
    }
}